.animated1{-webkit-animation-delay: 0.1s;-moz-animation-delay: 0.1s;animation-delay: 0.1s;}
.animated2{-webkit-animation-delay: 0.2s;-moz-animation-delay: 0.2s;animation-delay: 0.2s;}
.animated3{-webkit-animation-delay: 0.3s;-moz-animation-delay: 0.3s;animation-delay: 0.3s;}
.animated4{-webkit-animation-delay: 0.4s;-moz-animation-delay: 0.4s;animation-delay: 0.4s;}
.animated5{-webkit-animation-delay: 0.5s;-moz-animation-delay: 0.5s;animation-delay: 0.5s;}
.animated6{-webkit-animation-delay: 0.6s;-moz-animation-delay: 0.6s;animation-delay: 0.6s;}
.animated7{-webkit-animation-delay: 0.7s;-moz-animation-delay: 0.7s;animation-delay: 0.7s;}
.animated8{-webkit-animation-delay: 0.8s;-moz-animation-delay: 0.8s;animation-delay: 0.8s;}
.animated9{-webkit-animation-delay: 0.9s;-moz-animation-delay: 0.9s;animation-delay: 0.9s;}
.animated10{-webkit-animation-delay: 1s;-moz-animation-delay: 1s;animation-delay: 1s;}
.animated11{-webkit-animation-delay: 1.1s;-moz-animation-delay: 1.1s;animation-delay: 1.1s;}
.animated12{-webkit-animation-delay: 1.2s;-moz-animation-delay: 1.2s;animation-delay: 1.2s;}
.animated13{-webkit-animation-delay: 1.3s;-moz-animation-delay: 1.3s;animation-delay: 1.3s;}
.animated14{-webkit-animation-delay: 1.4s;-moz-animation-delay: 1.4s;animation-delay: 1.4s;}
.animated15{-webkit-animation-delay: 1.5s;-moz-animation-delay: 1.5s;animation-delay: 1.5s;}
.animated16{-webkit-animation-delay: 1.6s;-moz-animation-delay: 1.6s;animation-delay: 1.6s;}
.animated17{-webkit-animation-delay: 1.7s;-moz-animation-delay: 1.7s;animation-delay: 1.7s;}
.animated18{-webkit-animation-delay: 1.8s;-moz-animation-delay: 1.8s;animation-delay: 1.8s;}
.animated19{-webkit-animation-delay: 1.9s;-moz-animation-delay: 1.9s;animation-delay: 1.9s;}
.animated20{-webkit-animation-delay: 2s;-moz-animation-delay: 2s;animation-delay: 2s;}
.animated21{-webkit-animation-delay: 2.1s;-moz-animation-delay: 2.1s;animation-delay: 2.1s;}
.animated22{-webkit-animation-delay: 2.2s;-moz-animation-delay: 2.2s;animation-delay: 2.2s;}
.animated23{-webkit-animation-delay: 2.3s;-moz-animation-delay: 2.3s;animation-delay: 2.3s;}
.animated24{-webkit-animation-delay: 2.4s;-moz-animation-delay: 2.4s;animation-delay: 2.4s;}
.animated25{-webkit-animation-delay: 2.5s;-moz-animation-delay: 2.5s;animation-delay: 2.5s;}
.animated26{-webkit-animation-delay: 2.6s;-moz-animation-delay: 2.6s;animation-delay: 2.6s;}
.animated27{-webkit-animation-delay: 2.7s;-moz-animation-delay: 2.7s;animation-delay: 2.7s;}
.animated28{-webkit-animation-delay: 2.8s;-moz-animation-delay: 2.8s;animation-delay: 2.8s;}
.animated29{-webkit-animation-delay: 2.9s;-moz-animation-delay: 2.9s;animation-delay: 2.9s;}
.animated30{-webkit-animation-delay: 3s;-moz-animation-delay: 3s;animation-delay: 3s;}
.animated31{-webkit-animation-delay: 3.1s;-moz-animation-delay: 3.1s;animation-delay: 3.1s;}
.animated32{-webkit-animation-delay: 3.2s;-moz-animation-delay: 3.2s;animation-delay: 3.2s;}
.animated33{-webkit-animation-delay: 3.3s;-moz-animation-delay: 3.3s;animation-delay: 3.3s;}
.animated34{-webkit-animation-delay: 3.4s;-moz-animation-delay: 3.4s;animation-delay: 3.4s;}
.animated35{-webkit-animation-delay: 3.5s;-moz-animation-delay: 3.5s;animation-delay: 3.5s;}
.animated36{-webkit-animation-delay: 3.6s;-moz-animation-delay: 3.6s;animation-delay: 3.6s;}
.animated37{-webkit-animation-delay: 3.7s;-moz-animation-delay: 3.7s;animation-delay: 3.7s;}
.animated38{-webkit-animation-delay: 3.8s;-moz-animation-delay: 3.8s;animation-delay: 3.8s;}
.animated39{-webkit-animation-delay: 3.9s;-moz-animation-delay: 3.9s;animation-delay: 3.9s;}
.animated40{-webkit-animation-delay: 4s;-moz-animation-delay: 4s;animation-delay: 4s;}
.animated41{-webkit-animation-delay: 4.1s;-moz-animation-delay: 4.1s;animation-delay: 4.1s;}
.animated42{-webkit-animation-delay: 4.2s;-moz-animation-delay: 4.2s;animation-delay: 4.2s;}
.animated43{-webkit-animation-delay: 4.3s;-moz-animation-delay: 4.3s;animation-delay: 4.3s;}
.animated44{-webkit-animation-delay: 4.4s;-moz-animation-delay: 4.4s;animation-delay: 4.4s;}
.animated45{-webkit-animation-delay: 4.5s;-moz-animation-delay: 4.5s;animation-delay: 4.5s;}
.animated46{-webkit-animation-delay: 4.6s;-moz-animation-delay: 4.6s;animation-delay: 4.6s;}
.animated47{-webkit-animation-delay: 4.7s;-moz-animation-delay: 4.7s;animation-delay: 4.7s;}
.animated48{-webkit-animation-delay: 4.8s;-moz-animation-delay: 4.8s;animation-delay: 4.8s;}
.animated49{-webkit-animation-delay: 4.9s;-moz-animation-delay: 4.9s;animation-delay: 4.9s;}
.animated50{-webkit-animation-delay: 5s;-moz-animation-delay: 5s;animation-delay: 5s;}
#menu_wrapper .nav ul, #menu_wrapper div .nav { margin-top: 40px; }
#menu_wrapper .nav ul li a, #menu_wrapper div .nav li a { font-family: 'Montserrat' !important; }
#menu_wrapper .nav ul li a, #menu_wrapper div .nav li a { font-size: 14px; }
#menu_wrapper .nav ul li ul li a, #menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-parent ul li a { font-size: 11px; }
#menu_close_icon{background: #000000;background: rgb(0, 0, 0, 0.7);background: rgba(0, 0, 0, 0.7);}
#menu_toggle, #menu_toggle:after, #menu_toggle:before { background: #ffffff; }#menu_close_icon { color: #ffffff; }
#menu_close_icon:hover, body[data-style=fullscreen] #menu_close_icon:hover, body[data-style=flow] #menu_close_icon:hover, body[data-style=password] #menu_close_icon:hover, body[data-style=wall] #menu_close_icon:hover, body[data-style=horizontal] #menu_close_icon:hover { background: #ffffff; }
#menu_close_icon:hover { color: #ffffff; }
#menu_close_icon:hover #menu_toggle, #menu_close_icon:hover #menu_toggle:before, #menu_close_icon:hover #menu_toggle:after { background: #000000; }
#menu_wrapper .nav ul li a, #menu_wrapper div .nav li a { color: #999999; }@media only screen and (max-width: 767px) {#menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-item ul li a, #menu_wrapper div .nav li ul li.current-menu-item a, #menu_wrapper .nav ul li ul li a, #menu_wrapper .nav ul li.current-menu-item ul li a, #menu_wrapper .nav ul li ul li.current-menu-item a, #menu_wrapper div .nav li.current-menu-parent ul li a, #menu_wrapper div .nav li ul li.current-menu-parent a { color: #999999 !important; }}
#menu_wrapper .nav ul li a.hover, #menu_wrapper .nav ul li a:hover, #menu_wrapper div .nav li a.hover, #menu_wrapper div .nav li a:hover { color: #000000; }
#menu_wrapper div .nav li.current-menu-item > a, #menu_wrapper div .nav li.current-menu-parent > a, #menu_wrapper div .nav li.current-menu-ancestor > a, #menu_wrapper div .nav li ul li.current-menu-ancestor a, #menu_close_icon:after { color: #000000; }
.top_bar { background: #ffffff; }
#menu_close_icon:after { border-color: transparent transparent transparent #ffffff; }@media only screen and (max-width: 767px) {#menu_wrapper .nav ul li ul, #menu_wrapper div .nav li ul { background: #ffffff !important; }}
#menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-item ul li a, #menu_wrapper div .nav li ul li.current-menu-item a, #menu_wrapper .nav ul li ul li a, #menu_wrapper .nav ul li.current-menu-item ul li a, #menu_wrapper .nav ul li ul li.current-menu-item a, #menu_wrapper div .nav li.current-menu-parent ul li a, #menu_wrapper div .nav li ul li.current-menu-parent a { color: #999999; }
#menu_wrapper .nav ul li ul li a:hover, #menu_wrapper .nav ul li ul li a:hover, #menu_wrapper div .nav li ul li a:hover, #menu_wrapper div .nav li ul li a:hover, #menu_wrapper div .nav li.current-menu-item ul li a:hover, #menu_wrapper div .nav li.current-menu-parent ul li a:hover { color: #000000; }
.social_wrapper ul li i { color: #ffffff; }
.social_wrapper ul li i { background: #000000; }
.social_wrapper ul li i { font-size: 12px; width: 24px; height: 24px; }
#copyright { font-family: 'arial' !important; }
#copyright { font-size: 13px; }
#copyright { color: #000000; font-style : normal;}
#copyright a, #copyright a:active { color: #ffffff; }
#copyright a:hover { color: #ffffff; }
#page_content_wrapper .inner .sidebar_wrapper .sidebar .content { color:#444444; }
#page_content_wrapper .inner .sidebar_wrapper a, #post_more_close i.fa { color:#000000; }
#page_content_wrapper .inner .sidebar_wrapper a:hover, #page_content_wrapper .inner .sidebar_wrapper a:active { color:#000000; }
#page_content_wrapper .sidebar .content .sidebar_widget li h2.widgettitle, h2.widgettitle { color:#000000; }
#page_content_wrapper .sidebar .content .sidebar_widget li h2.widgettitle, h2.widgettitle { font-size:16px; }
#page_content_wrapper .sidebar .content .sidebar_widget li h2.widgettitle, h2.widgettitle, h5.widgettitle { font-family: 'Open Sans'; }
h1, h2, h3, h4, h5, h6, h7 { font-family: 'Open Sans'; }
h1 { font-size:40px; }
h2 { font-size:32px; }
h3 { font-size:26px; }
h4 { font-size:24px; }
h5 { font-size:22px; }
h6 { font-size:18px; }
body, .fancybox-title-outside-wrap { font-family: 'Open Sans'; }
body { font-size:16px; }
#page_caption h1 { font-size:36px; line-height:46px; }
#page_content_wrapper, .page_content_wrapper, #page_content_wrapper .inner .sidebar_content, body[data-style=blog_grid] .post.type-post, body.page-template-galleries-php .gallery.type-gallery, body[data-style=blog_grid] .post.type-post{background: #ffffff;}
body, .pagination a { color: #000000; }
a, .post_date { color:#0da29d; }
a:hover, a:active { color:#000000; }
h1, h2, h3, h4, h5, pre, code, tt, blockquote, .post_header h5 a, .post_header h3 a, .post_header.grid h6 a, #imageFlow .title h6{color: #000000;}
hr, .post_wrapper, h1.product_title{border-color: #000000;}
input[type=text], input[type=password], input[type=email], input[type=url], textarea{background: #ffffff;}
input[type=text], input[type=password], input[type=email], input[type=url], textarea{color: #444444;}
input[type=text], input[type=password], input[type=email], input[type=url], textarea{border-color: #cccccc;}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, textarea:focus{border-color: #000000;}
input[type=submit], input[type=button], a.button, .button{ background: #000000;}.pagination span, .pagination a:hover{background: #000000 !important;border-color: #000000;}
input[type=submit], input[type=button], a.button, .button { color: #ffffff;}
input[type=submit], input[type=button], a.button, .button { border: 1px solid #000000;}
.mansory_thumbnail .mask, .wall_thumbnail .mask .mask_frame .mask_image_content.hascycle, .post.type-post .mask { background-color: #000000; }
.mansory_thumbnail .mask, .wall_thumbnail .mask .mask_frame .mask_image_content.hascycle, .post.type-post .mask{background: #000000;background: rgb(0, 0, 0, 0.5);background: rgba(0, 0, 0, 0.5);}.mansory_thumbnail .mask .mask_frame .mask_image_content h6, .mansory_thumbnail .mask .mask_frame .mask_image_content span, .wall_thumbnail h6, .wall_thumbnail .mask .mask_frame .mask_image_content span, .wall_thumbnail .mask .mask_frame .mask_image_content span:not(:empty) { color: #ffffff;}
.wall_thumbnail .mask .mask_frame .mask_image_content span:not(:empty){border-color: #ffffff;}
.grid_cover_wrapper .mask { background: #000000;}
.grid_cover_wrapper .mask{background: #000000;background: rgb(0, 0, 0, 0.7);background: rgba(0, 0, 0, 0.7);}
.grid_cover_wrapper .frame .gallery_content h1 { font-family: 'Open Sans'; }
.grid_cover_wrapper .frame .gallery_content h1 { font-size: 58px;line-height: 68px;letter-spacing: 0px;}
.grid_cover_wrapper .frame .gallery_content h1 { color: #ffffff; }
.grid_cover_wrapper .frame .gallery_content .gallery_desc { font-size: 13px; }
.grid_cover_wrapper .frame .gallery_content .gallery_desc { letter-spacing: 3px; }
.view_gallery, .view_gallery_full { color: #ffffff; }
.view_gallery, .view_gallery_full { border-color: #ffffff; }
.filter li a, #portfolio_wall_filters li a { color: #ffffff; }
.filter li a:hover, .filter li a.active, #portfolio_wall_filters li a.active,#portfolio_wall_filters li a:hover { color: #ffffff; }
.filter li a:hover, .filter li a.active, #portfolio_wall_filters li a.active,#portfolio_wall_filters li a:hover { border-color: #ffffff; }
#gallery_caption h2, #gallery_caption .gallery_desc, .page_control_static #page_maximize:after, a#prevslide:before, a#nextslide:before, #gallery_caption a, #gallery_caption a:hover, #gallery_caption a:active { color: #ffffff !important; }
.wall_thumbnail .mask .mask_frame .mask_image_content span, .mansory_thumbnail .mask .mask_frame .mask_image_content span, #gallery_caption .gallery_desc, #imageFlow .legend, #imageFlow .legend a, #imageFlow .legend a:hover, #imageFlow .legend a:active { font-family: 'Allan'; }@media only screen and (min-width: 768px) and (max-width: 960px) {img.thumbnail_gallery{max-width: 212px !important;height: auto;}}

