
/* MODULABLE WINDOW CSS FILE */
/* ------------------------- */


/* MAIN WINDOW DEFINITION */

.MW {
	position: absolute;
	font-weight: bold;
	font-size: 2vh;
	opacity: 0;						/* Au commencement, les fenetres ne sont pas affichées, elles le seront une fois leurs proportions dessinées par JS. */
}

/* WINDOW MAIN GROUPS ELEMENTS */

.MWHeaderMask {
	width: 100%;
	transition-property: inherit;			/* Pour le passage au mode headerless, HeaderMask est progressivement diminué jusqu à 0. La transition-property HEIGHT est donné en arg au parent. */
	transition-duration: inherit;
}
.MWHeader {
	width: 100%;
	position: absolute;
	border-top-left-radius: 10px;			
}
.MWHeader svg:hover {
	stroke: red;
	fill: red;
}

.MW_Visible_Header {
	stroke: black;
	color: black;
}
.MW_Hidden_Header {
	opacity: 0.0;
	stroke: white;
	color: white;
	transition-duration: 0.3s;
	transition-property: opacity;
	background-color: blue;
}
.MW_Hidden_Header:hover { 
	opacity: 1;
}

				
.MWConteiner {
	width: 100%;
	transition-property: inherit;
	transition-duration: inherit;
}
.MWFooter {
	width: 100%;
	transition-duration: 0.1s;
	transition-property: height; 
}

/* WINDOW HEADER ELEMENTS */

.MWTitle {
	overflow: hidden;
	text-align: center;
	height: 100%;
	cursor:  url("data:image/svg+xml;charset=utf-8,\
		<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'  width='20' height='20' viewBox='0 0 20 20' style='fill:none;stroke:green;stroke-width:2'>\
			<line x1='10' y1='0' x2='10' y2='20' style='stroke-width:2'/>\
			<line x1='0' y1='10' x2='20' y2='10' style='stroke-width:2'/>\
			<path d='M10 0 L7 3 L13 3 Z'/>\
			<path d='M10 20 L7 17 L13 17 Z'/>\
			<path d='M0 10 L3 7 L3 13 Z'/>\
			<path d='M20 10 L17 7 L17 13 Z'/>\
		</svg>") 10 10,move;
}

/* WINDOW CONTEINER ELEMENTS */

.MWBody {
	height: 100%;
	overflow:hidden;	
}
			
.MWSideDiv {
	height: 100%;
	transition-duration: 0.1s;
	transition-property: width; 
}
.MWLeft 	{
	float:left;
}	

.MWRight 	{
	float:right;
}
.MWMouseSideBottomDiv {
	opacity: 0;
	background-color: red;
	position: relative;
}
.MWLeftBottom {
	float: left;
	cursor:  url("data:image/svg+xml;charset=utf-8,\
		<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'  width='20' height='20' viewBox='0 0 20 20' style='fill:none;stroke:green;stroke-width:3'>\
			<line x1='20' y1='0' x2='5' y2='15'/>\
			<line x1='5' y1='15' x2='15' y2='15'/>\
			<line x1='5' y1='15' x2='5' y2='5'/>\
			<path d='M0 0 L0 20 L20 20' style='stroke-width:4'/>\
		</svg>") 10 10,nesw-resize;
}
.MWRightBottom {
	float: right;
	cursor:  url("data:image/svg+xml;charset=utf-8,\
		<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'  width='20' height='20' viewBox='0 0 20 20' style='fill:none;stroke:green;stroke-width:3'>\
			<line x1='0' y1='0' x2='15' y2='15'/>\
			<line x1='15' y1='15' x2='15' y2='5'/>\
			<line x1='15' y1='15' x2='5' y2='15'/>\
			<path d='M0 20 L20 20 L20 0' style='stroke-width:4'/>\
		</svg>") 10 10,nwse-resize;
}
.MWBottom {
	width: 100%;
	height: inherit;
	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* IMAGES WINDOW CLASSES */

.MWImgFull {
	width: 100%;
	height: inherit;
}
.MWImgProportionned {
	position: relative;	
}

/* AUDIO && VIDEO WINDOW CLASSES */

.MWVid {
	position: relative;
	transform-origin: 0% 0%;
}
.MWAudio { }

.media_Controls {
	width: 100%;
	height: 10%;
	position: relative;
	bottom: 10%;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.media_Controls:hover {
	opacity: 0.7;
	transition: opacity 0.3s ease-in-out;
}
.media_Controls_Selected {
	opacity: 0.7;
}
.media_Controls_Timeline {
	position: relative;
	width: 90%;
	left: 5%;
	height: 16%;
	border-radius: 10px;
	border: solid white 2px;
}
.media_Current_TimeLine {
	background-color: white;
	width: 60%;
	height: 100%;
}

.media_Controls_Conteiner {
	top: 10%;
	position: relative;
	width: 90%;
	left: 5%;
	height: 50%;
}
.media_Controls_Icons {
	height: 100%;
	stroke: white;
	fill: white;
}
.MWBody .media_Controls_Icons {
	position: relative;
	width: 60%;
	height: 60%;
	top: 20%;
	left: 20%; 
	fill: none; 
}

.media_Controls_Icons_Active {
	stroke: red;
	fill: red;
}
.media_Time_Info {
	position: absolute;
	display: inline-block;
	vertical-align: top;
	color: white;
	right: 0px;
}

/* IFRAME CLASSES */

.MW_Iframe {
	width: 100%;
	height: 100%;
}
.MW_Iframe_Mouse_Box {
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0.0;
	bottom: 100%;
	background-color: blue;
}

/* SVG DEFAULT CLASS */

.MW_Svg_Hidden { display: none; }
.MW_Svg_Icon_Right { float: right; }
.MW_Svg_Icon_Left  { float: left; }

/* RESERVED CUSTOM WINDOW */

.MW .MWConteiner .MWBody {
	color: green;
}
.MW .MWConteiner .MWBody header {
	height: 8%;
}
.MW .MWConteiner .MWBody H1{
	position: relative;
	top: 15%;
	color: green;
	font-size:1em;
	width: 100%;
}
.MW .MWConteiner .MWBody #chatTab{
	font-size:0.5em;
	color: green;
	height: 80%; 
	width: 100%;		
	font-weight: bold;
	padding-left: 1%;
	background-color: #003300;
	overflow: hidden;
	/*overflow-y: auto;					
	overflow-x: hidden;*/					/* TODO smatphone feature */
	word-wrap:break-word;
	white-space:pre-wrap;	
}
.MW .MWConteiner .MWBody footer{
	height: 12%;
	font-size:0.6em;
}
.MW .MWConteiner .MWBody footer form{
	height: 40%;
	position: relative;
	top: 30%;
	padding-left: 1%;
		
	display: flex;
	flex-direction:row;
}
.MW .MWConteiner .MWBody footer form input[type="text"] { 
	height: 100%;
	background-color: #003300;
	color: #00cc00;
	outline: none;
	border: none;
	padding-left: 0.5%;
	width: 40%;
	font-size: 0.8em;
}	
.input-file-container {
	position: absolute;			/* TODO: smartphone patch à tester: passage de relatif à absolute ! */
	top: 5vh;					/* smartphone: TOP relative to total window -> Lié à header_Height ! */
	right: 2.5vh;				/* smartphone: RIGHT just relative to body */
	height: 7vh;
	width: 7vh;

	float: right;
}
.input-file-trigger {
	width: 100%;
	height: 100%;
	transition: fill .1s;
	fill: green;
}
.input-file {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.input-file:hover + .input-file-trigger{
	fill: orange;
}

